.App {
  text-align: center;
}


ul{
  padding:0;
  width: 400px;
  margin: 20px auto;
}

li{
  text-align: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}


